
### The problem 

The location data is latitude and longitude. I want to cluster together certains locations together and set new categories based on those clusters.

Geohashing is one technique, but the underlying geometry is not perfectly euclidean (We are dealing with a globe after all), I have want to incorporate geodesic geometry. 

### The solution
To do this I will first geohash the data and one hot encode it and run ols. Then, I will do the same thing using hdbscan


#### I need to test the geohashing method ASAP! 

There is a good chance that I won't be able to match up the geo tags for the predictions.. 
I wonder how well this will work.

https://en.wikipedia.org/wiki/Geohash#Design

In [66]:
from sklearn.feature_selection import RFE
from sklearn.neighbors import KNeighborsClassifier
import geohash2
import hdbscan
import pandas as pd
import numpy as np

In [3]:
# points = np.array([[lat1, lon1], [lat2, lon2], ...])
# rads = np.radians(points)
# clusterer = hdbscan.HDBSCAN(min_cluster_size=N, metric='haversine')
# cluster_labels = clusterer.fit_predict(points)

In [5]:
df  = pd.read_csv("../raw/kc_house_data_train.csv", index_col=0)

In [6]:
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2591820310,20141006T000000,365000.0,4,2.25,2070,8893,2.0,0,0,...,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,7974200820,20140821T000000,865000.0,5,3.00,2900,6730,1.0,0,0,...,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,7701450110,20140815T000000,1038000.0,4,2.50,3770,10893,2.0,0,2,...,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,9522300010,20150331T000000,1490000.0,3,3.50,4560,14608,2.0,0,2,...,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,9510861140,20140714T000000,711000.0,3,2.50,2550,5376,2.0,0,0,...,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050

## Create a pd dataframe using haversine density scanning

In [7]:
# create a np array called pointer containg the latitude and longitude of each obs
points = np.array(list(zip(df.lat, df.long)))

In [9]:
len(points) == len(df)

True

In [11]:
# Turn the points from degrees to radians
points = np.radians(points)
points[0]

array([ 0.01445068, -0.03721267])

In [107]:
# instantiate our haversine clustering object 
N = 15
min_size = 5
clusterer = hdbscan.HDBSCAN(min_cluster_size=N, metric='haversine')

In [108]:
# fit the clusterer to our data
cluster_labels = clusterer.fit_predict(points)

In [109]:
clusters = cluster_labels.tolist()
clusters = pd.DataFrame(pd.Series(clusters))
clusters.columns = ['hdb_clusters']

## Make dummy columns

In [116]:
clusters = pd.get_dummies(clusters.hdb_clusters)

In [117]:
clusters.to_csv("../cleanedData/hdb_clusters.csv")

In [102]:
neigh = KNeighborsClassifier(n_neighbors=5)

In [69]:
neigh.fit(points)

TypeError: fit() missing 1 required positional argument: 'y'