## How does everything interact with everthing?!!

In [29]:
import pandas as pd
import numpy as np
import itertools

from sklearn.feature_selection import RFE
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [66]:
df = pd.read_csv('../cleanedData/X.imputed.csv', index_col=0)
y = pd.read_csv('../raw/y.csv')

In [67]:
df.head()

,id,date,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,2591820310,20141006T000000,4,2.25,2070,8893,2.0,0,0,4,8,2070,0,1986,0,98058,47.4388,-122.162,2390,7700
1,7974200820,20140821T000000,5,3.00,2900,6730,1.0,0,0,5,8,1830,1070,1977,0,98115,47.6784,-122.285,2370,6283
2,7701450110,20140815T000000,4,2.50,3770,10893,2.0,0,2,3,11,3770,0,1997,0,98006,47.5646,-122.129,3710,9685
3,9522300010,20150331T000000,3,3.50,4560,14608,2.0,0,2,3,12,4560,0,1990,0,98034,47.6995,-122.228,4050,14226
4,9510861140,20140714T000000,3,2.50,2550,5376,2.0,0,0,3,9,2550,0,2004,0,98052,47.6647,-122.083,2250,4050

# Dropping columns

Things like year built

In [68]:

to_drop = [
    'id',
    'date'
]

In [69]:
df.drop(columns=to_drop, inplace=True)

## Multiply everything with everythin

In [70]:
len(set(list(itertools.permutations(df.columns,2))))

306

In [71]:
def get_interactions(df, choose=2):
    """
    df --> pd.seriesdataframe
    returns --> pd.dataframe
    
    Given a dataframe, this function takes all of the columns and generates an a new column based on their
    multiplicative interaction.
    
    dependent on itertools and pandas
    """
    columns = itertools.permutations(df.columns,choose)
    interaction = {' X '.join(x): df[x[0]]*df[x[0]] for x in columns}
    return pd.DataFrame.from_dict(interaction)

In [72]:
interaction_df = get_interactions(df)

In [73]:
interaction_df

,bedrooms X bathrooms,bedrooms X sqft_living,bedrooms X sqft_lot,bedrooms X floors,bedrooms X waterfront,bedrooms X view,bedrooms X condition,bedrooms X grade,bedrooms X sqft_above,bedrooms X sqft_basement,...,sqft_lot15 X condition,sqft_lot15 X grade,sqft_lot15 X sqft_above,sqft_lot15 X sqft_basement,sqft_lot15 X yr_built,sqft_lot15 X yr_renovated,sqft_lot15 X zipcode,sqft_lot15 X lat,sqft_lot15 X long,sqft_lot15 X sqft_living15
0,16,16,16,16,16,16,16,16,16,16,...,59290000,59290000,59290000,59290000,59290000,59290000,59290000,59290000,59290000,59290000
1,25,25,25,25,25,25,25,25,25,25,...,39476089,39476089,39476089,39476089,39476089,39476089,39476089,39476089,39476089,39476089
2,16,16,16,16,16,16,16,16,16,16,...,93799225,93799225,93799225,93799225,93799225,93799225,93799225,93799225,93799225,93799225
3,9,9,9,9,9,9,9,9,9,9,...,202379076,202379076,202379076,202379076,202379076,202379076,202379076,202379076,202379076,202379076
4,9,9,9,9,9,9,9,9,9,9,...,16402500,16402500,16402500,16402500,16402500,16402500,16402500,16402500,16402500,16402500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17285,25,25,25,25,25,25,25,25,25,25,...,108160000,108160000,108160000,108160000,108160000,108160000,108160000,108160000,108160000,108160000
17286,4,4,4,4,4,4,4,4,4,4,...,16104169,16104169,16104169,16104169,16104169,16104169,16104169,16104169,16104169,16104169
17287,9,9,9,9,9,9,9,9,9,9,...,88416409,88416409,88416409,88416409,88416409,88416409,88416409,88416409,88416409,88416409
17288,9,9,9,9,9,9,9,9,9,9,...,11670048784,11670048784,11670048784,11670048784,11670048784,11670048784,11670048784,11670048784,11670048784,11670048784
17289,9,9,9,9,9,9,9,9,9,9,...,47748100,47748100,47748100,47748100,47748100,47748100,47748100,47748100,47748100,47748100

In [74]:
X = pd.concat([df, interaction_df], axis=1)
y = pd.read_csv('../raw/y.csv', header=None)
y.columns=['price']

In [75]:
# Split the data into training and test data
X_train, X_test, y_train, y_test = train_test_split(X, y,               # Pass in our X and y
                                                    random_state=42,    # Abritary select a random_state 
                                                    test_size=.2        # Split test size to be 20% of full data.
                                                   )

In [77]:
# model = LinearRegression()
# rfe = RFE(estimator=model, n_features_to_select=1, step=1)
# rfe = rfe.fit(X_train, y_train)
# selected_rfe_features_three= pd.DataFrame({'Feature': list(X_train.columns),
#                                     'Ranking': rfe.ranking_})
# selected_rfe_features_three.sort_values(by='Ranking')[:100]

In [78]:
# selected_rfe_features_three.to_csv('../cleanedData/featureRankingInteractionThree.csv')

In [79]:
selected_rfe_features.sort_values('Ranking')[:10]

NameError: name 'selected_rfe_features' is not defined

In [80]:
# Split the data into training and test data
X_train, X_test, y_train, y_test = train_test_split(X, y,               # Pass in our X and y
                                                    random_state=42,    # Abritary select a random_state 
                                                    test_size=.2        # Split test size to be 20% of full data.
                                                   )

In [81]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_hat =lr.predict(X_test)
RMSE = mean_squared_error(y_test, y_hat)

In [82]:
RMSE**0.5

177608.6566397713

In [84]:
# cross_val_score(lr, X_train, y_train, n_jobs=10)

In [85]:
X_full_model_one = pd.read_csv('../raw/X_full_model_one.csv', index_col=0)

In [86]:
list(enumerate(list(X_full_model_one.columns)))

[(0, 'id'),
 (1, 'date'),
 (2, 'bedrooms'),
 (3, 'bathrooms'),
 (4, 'sqft_living'),
 (5, 'sqft_lot'),
 (6, 'floors'),
 (7, 'waterfront'),
 (8, 'view'),
 (9, 'condition'),
 (10, 'grade'),
 (11, 'sqft_above'),
 (12, 'sqft_basement'),
 (13, 'yr_built'),
 (14, 'yr_renovated'),
 (15, 'zipcode'),
 (16, 'lat'),
 (17, 'long'),
 (18, 'sqft_living15'),
 (19, 'sqft_lot15'),
 (20, 'c22uz'),
 (21, 'c22vm'),
 (22, 'c22vn'),
 (23, 'c22vp'),
 (24, 'c22vr'),
 (25, 'c22vs'),
 (26, 'c22vt'),
 (27, 'c22vu'),
 (28, 'c22vv'),
 (29, 'c22vw'),
 (30, 'c22vz'),
 (31, 'c22yj'),
 (32, 'c22yp'),
 (33, 'c22yq'),
 (34, 'c22yr'),
 (35, 'c22yw'),
 (36, 'c22yx'),
 (37, 'c22yy'),
 (38, 'c22yz'),
 (39, 'c22zn'),
 (40, 'c22zp'),
 (41, 'c22zq'),
 (42, 'c22zr'),
 (43, 'c22zx'),
 (44, 'c22zy'),
 (45, 'c22zz'),
 (46, 'c23hb'),
 (47, 'c23hc'),
 (48, 'c23hf'),
 (49, 'c23hg'),
 (50, 'c23hr'),
 (51, 'c23hu'),
 (52, 'c23hv'),
 (53, 'c23hw'),
 (54, 'c23hx'),
 (55, 'c23hy'),
 (56, 'c23hz'),
 (57, 'c23j0'),
 (58, 'c23j1'),
 (59, 'c23j2'),
 (60, 'c23j3'),
 (61, 'c23j4'),
 (62, 'c23j5'),
 (63, 'c23j6'),
 (64, 'c23j7'),
 (65, 'c23j8'),
 (66, 'c23j9'),
 (67, 'c23jb'),
 (68, 'c23jc'),
 (69, 'c23jd'),
 (70, 'c23je'),
 (71, 'c23jf'),
 (72, 'c23jg'),
 (73, 'c23jh'),
 (74, 'c23jj'),
 (75, 'c23jk'),
 (76, 'c23jm'),
 (77, 'c23jn'),
 (78, 'c23jp'),
 (79, 'c23jq'),
 (80, 'c23jr'),
 (81, 'c23js'),
 (82, 'c23jt'),
 (83, 'c23ju'),
 (84, 'c23jv'),
 (85, 'c23jw'),
 (86, 'c23jx'),
 (87, 'c23jy'),
 (88, 'c23jz'),
 (89, 'c23k2'),
 (90, 'c23k8'),
 (91, 'c23k9'),
 (92, 'c23kb'),
 (93, 'c23kc'),
 (94, 'c23m1'),
 (95, 'c23m3'),
 (96, 'c23m8'),
 (97, 'c23m9'),
 (98, 'c23mb'),
 (99, 'c23mc'),
 (100, 'c23mg'),
 (101, 'c23mu'),
 (102, 'c23mv'),
 (103, 'c23n0'),
 (104, 'c23n1'),
 (105, 'c23n2'),
 (106, 'c23n3'),
 (107, 'c23n4'),
 (108, 'c23n5'),
 (109, 'c23n6'),
 (110, 'c23n7'),
 (111, 'c23n8'),
 (112, 'c23n9'),
 (113, 'c23nb'),
 (114, 'c23nc'),
 (115, 'c23nd'),
 (116, 'c23ne'),
 (117, 'c23nf'),
 (118, 'c23ng'),
 (119, 'c23nh'),
 (120, 'c23nj'),
 (121, 'c23nk'),
 (122, 'c23nm'),
 (123, 'c23nn'),
 (124, 'c23np'),
 (125, 'c23nq'),
 (126, 'c23nr'),
 (127, 'c23ns'),
 (128, 'c23nt'),
 (129, 'c23nu'),
 (130, 'c23nv'),
 (131, 'c23nw'),
 (132, 'c23nx'),
 (133, 'c23ny'),
 (134, 'c23nz'),
 (135, 'c23p0'),
 (136, 'c23p1'),
 (137, 'c23p2'),
 (138, 'c23p3'),
 (139, 'c23p4'),
 (140, 'c23p5'),
 (141, 'c23p6'),
 (142, 'c23p7'),
 (143, 'c23p8'),
 (144, 'c23p9'),
 (145, 'c23pb'),
 (146, 'c23pc'),
 (147, 'c23pd'),
 (148, 'c23pe'),
 (149, 'c23pf'),
 (150, 'c23pg'),
 (151, 'c23ph'),
 (152, 'c23pj'),
 (153, 'c23pk'),
 (154, 'c23pm'),
 (155, 'c23pn'),
 (156, 'c23pp'),
 (157, 'c23pq'),
 (158, 'c23pr'),
 (159, 'c23ps'),
 (160, 'c23pt'),
 (161, 'c23pu'),
 (162, 'c23pv'),
 (163, 'c23pw'),
 (164, 'c23px'),
 (165, 'c23py'),
 (166, 'c23pz'),
 (167, 'c23q0'),
 (168, 'c23q1'),
 (169, 'c23q2'),
 (170, 'c23q3'),
 (171, 'c23q4'),
 (172, 'c23q6'),
 (173, 'c23q7'),
 (174, 'c23q8'),
 (175, 'c23q9'),
 (176, 'c23qb'),
 (177, 'c23qc'),
 (178, 'c23qd'),
 (179, 'c23qf'),
 (180, 'c23qh'),
 (181, 'c23qj'),
 (182, 'c23qk'),
 (183, 'c23qm'),
 (184, 'c23qn'),
 (185, 'c23r0'),
 (186, 'c23r1'),
 (187, 'c23r2'),
 (188, 'c23r3'),
 (189, 'c23r4'),
 (190, 'c23r6'),
 (191, 'c23r8'),
 (192, 'c23r9'),
 (193, 'c23rd'),
 (194, 'c23rf'),
 (195, 'c23xm'),
 (196, 'c23xq'),
 (197, '98001'),
 (198, '98002'),
 (199, '98003'),
 (200, '98004'),
 (201, '98005'),
 (202, '98006'),
 (203, '98007'),
 (204, '98008'),
 (205, '98010'),
 (206, '98011'),
 (207, '98014'),
 (208, '98019'),
 (209, '98022'),
 (210, '98023'),
 (211, '98024'),
 (212, '98027'),
 (213, '98028'),
 (214, '98029'),
 (215, '98030'),
 (216, '98031'),
 (217, '98032'),
 (218, '98033'),
 (219, '98034'),
 (220, '98038'),
 (221, '98039'),
 (222, '98040'),
 (223, '98042'),
 (224, '98045'),
 (225, '98052'),
 (226, '98053'),
 (227, '98055'),
 (228, '98056'),
 (229, '98058'),
 (230, '98059'),
 (231, '98065'),
 (232, '98070'),
 (233, '98072'),
 (234, '98074'),
 (235, '98075'),
 (236, '98077'),
 (237, '98092'),
 (238, '98102'),
 (239, '98103'),
 (240, '98105'),
 (241, '98106'),
 (242, '98107'),
 (243, '98108'),
 (244, '98109'),
 (245, '98112'),
 (246, '98115'),
 (247, '98116'),
 (248, '98117'),
 (249, '98118'),
 (250, '98119'),
 (251, '98122'),
 (252, '98125'),
 (253, '98126'),
 (254, '98133'),
 (255, '98136'),
 (256, '98144'),
 (257, '98146'),
 (258, '98148'),
 (259, '98155'),
 (260, '98166'),
 (261, '98168'),
 (262, '98177'),
 (263, '98178'),
 (264, '98188'),
 (265, '98198'),
 (266, '98199'),
 (267, 'offpeak'),
 (268, 'peak')]

In [87]:
X_full_model_one = X_full_model_one.iloc[:,20:]

In [93]:
X = pd.concat([X_full_model_one, X], axis=1)

In [94]:
# Split the data into training and test data
X_train, X_test, y_train, y_test = train_test_split(X, y,               # Pass in our X and y
                                                    random_state=42,    # Abritary select a random_state 
                                                    test_size=.2        # Split test size to be 20% of full data.
                                                   )

In [95]:
y_train.shape

(13832, 1)

In [96]:
lr = LinearRegression()
lr.fit(X_train, y_train)
y_hat =lr.predict(X_test)
RMSE = mean_squared_error(y_test, y_hat)

In [97]:
RMSE**0.5

135968.8899358881

In [99]:
from sklearn.model_selection import cross_val_score
lr = LinearRegression()
(cross_val_score(estimator=lr, X=X_train, y=y_train, cv = 10))

array([0.75221978, 0.76855419, 0.87851783, 0.83193598, 0.86868051,
       0.86286446, 0.82881711, 0.84707538, 0.84103231, 0.82583571])